:root {
  --main-color: #1B2316;
  --second-color: #222C1D;
  --main-text-color: #FFF;
  --second-text-color: #dedede;

  --section-padding: 60px;
  --section-content-padding: 100px 0 0 0;

  --block-border: 1px solid rgba(0, 0, 0, 0.1);
  --block-border-radius: 15%;
  --block-border-style: solid;
  --block-border-width: 1px;
}

ul.listStyle1 {
  list-style-image: url(../icons/title/plant_icon1.svg);
}

ul.listStyle2 {
  list-style-image: url(../icons/title/plant_icon2.svg);
}

ul.listStyle3 {
  list-style-image: url(../icons/title/plant_icon3.svg);
}

ul.listStyle4 {
  list-style-image: url(../icons/title/plant_icon4.svg);
}

a {
  color: var(--main-text-color);
  transition: all .3s;
  &:hover {
    text-decoration: none;
    color: var(--second-text-color);
  }
}

button {
  padding: 5px;
  width: 150px;
  height: 50px;
  border-color: var(--second-text-color);
  border-radius: 12px;
  border-style: var(--block-border-style);
  border-width: var(--block-border-width);
  background-color: transparent;
  background-repeat: no-repeat;
  color: var(--second-text-color);
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    border: 2px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
  }

}

input {
  width: 100%;
  padding: 10px;
  border-color: var(--second-text-color);
  border-radius: 12px;
  border-style: var(--block-border-style);
  border-width: var(--block-border-width);
  background-color: transparent;
  background-repeat: no-repeat;
}

input::placeholder {
  color: var(--second-text-color);
}

.circleButton {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.squareButton {
  width: 50px;
  height: 50px;
  border-radius: 12px;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.buttonWithNearTextWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.inputWithButton {
  position: relative;
  width: fit-content;

  input {
    max-width: 100%;
    padding-right: 50px;
  }

  button {
    position: absolute;
    right: 1%;
    top: 7%;
    height: 85%;
    width: 35%;
    padding: 10px;
    background-color: white;
    color: var(--second-color);
  }
}

.hide {
  display: none !important;
}

.defaultSection {
  padding: var(--section-padding);
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    &-icon {
      width: 60px;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__content {
    width: 100%;
    padding: var(--section-content-padding);
  }
}

.sectionTitle {
  padding: 0;
  display: flex;
  position: relative;

  &__leftFrame {
    height: 100%;
    position: absolute;
    left: -10%;
    bottom: -15%;

  }

  &__rightFrame {
    height: 100%;
    position: absolute;
    left: 90%;
  }
}


.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.defaultItemBlock {
  background-color: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--block-border-radius);
  border-style: var(--block-border-style);
  border-width: var(--block-border-width);
}

.simplePlantItem {
  padding: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__image {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(1.5) translateY(-50px);
    }
  }

  &__infoBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
  }
}

.bigPlantItem{
  width: 100%;
  padding: 100px 100px 20px 20px;
  display: flex;
  gap: 10px;

  &__image {
    order: 1;
    flex-shrink: 0;
    padding: 20px;
    width: 450px;
    height: 450px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.2) translateY(-150px);
    }
  }

  &__infoBlock {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__buttons  {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &.reversed {
    padding: 100px 20px 20px 100px;
  }
}

.bigPlantItem.reversed .bigPlantItem__image {
  flex-shrink: 0;
  order: 2;
}

.bigPlantItem.reversed .bigPlantItem__infoBlock {
  order: 1;
}

.feedbackItem {
  max-width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;
  position: relative;
  z-index: 0;

  &__executor {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 32px 32px;
    column-gap: 20px;
  }

  &__avatar {
    grid-column: 1;
    grid-row: 1/2;
    width: 64px;
    height: 64px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  &__title {
    grid-column: 2;
    grid-row: 1;
  }

  &__rate {
    grid-column: 2;
    grid-row: 2;

    .checked {
      color: #ffcc00;
    }
  }
}

.slider {

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__item {
    position: absolute;
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    &.active {
      position: static;
      opacity: 1;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 10px;

  }

  &__next-button {
    cursor: pointer;
  }

  &__previous-button {
    cursor: pointer;
  }

  &__navigationBar {

    width: 100px;
    display: flex;
    justify-content: space-around;

    &__item {
      background-color: #FFFFFF;
      border-radius: 100%;
      width: 6px;
      height: 6px;
      cursor: pointer;
      transition: all .5s;

      &-active {
        width: 25%;
        border-radius: 20%;
      }
    }
  }

  &__navigationBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}