$main-color: #1B2316;
$second-color: #222C1D;
$main-text-color: #FFF;
$second-text-color: #dedede;

$section-padding: 60px;

$block-border: 1px solid rgba(0, 0, 0, 0.1);
$block-border-radius: 15%;
$block-border-style: solid;
$block-border-width: 1px;
