.promo {
  width: 100%;
  min-height: 2500px;
  background: url(../img/promo/promo-bg.png) center center/cover no-repeat;

  &__header {
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    align-items: end;

    &__menu {
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;
    }

    &__toolbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;
    }
  }

  &__subsection_title {
    padding: var(--section-padding);
    display: grid;
    grid-template-rows: minmax(350px, auto) minmax(100px, auto);
    grid-template-columns: 450px 450px 500px;
    justify-content: space-between;
    background: none;

    &__buttons_wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 35px;
    }
  }

  &__title {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  &__plant-slider {
    padding: 60px;
    grid-column: 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .slider__counter, .slider__navigationBar {
      padding: 10px;
      margin: 0 auto;
    }
    &-item {
      padding: 0;
    }
  }

  &__feedback {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    top: 50%;
  }

  &__trendyPlants {
    max-width: 100%;
    background-color: unset;

    &_itemWrapper {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  }
}