.bestO2 {
  width: 100%;

  &-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .slider__counter, .slider__navigationBar {
      padding: 10px;
      margin: 0 auto;
    }
  }
}