@media (max-width: 1500px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .topSelling {
    &__topPlants {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-auto-rows: minmax(280px, auto);
    }

    &__item {
      &_purchase {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

@media (max-width: 400px) {

}
