@media (max-width: 1500px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .plantCard {
    gap: 40px;

    &__image {
      width: 250px;
      height: 250px;
    }

    &__info {
      flex-direction: column;
      gap: 40px;
    }

    &__description {
      width: unset;
    }

    &__characteristics {
      width: unset;
      gap: 50px;
    }
  }
}

@media (max-width: 768px) {
  .plantCard {
    gap: 30px;

    &__image {
      width: 200px;
      height: 200px;
    }

    &__info {
      gap: 30px;
    }

    &__description {
    }

    &__characteristics {
      gap: 30px;
    }
  }
}

@media (max-width: 576px) {
  .topSelling {
    &__topPlants {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-auto-rows: minmax(280px, auto);
    }

    &__item {
      &_purchase {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .plantCard {
    gap: 20px;

    &__image {
      width: 150px;
      height: 150px;
    }

    &__info {
      gap: 20px;
    }

    &__characteristics {
      gap: 20px;
    }
  }
}

@media (max-width: 400px) {
  .plantCard {

    &__characteristics {

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
