.footerWrapper {
  max-width: 100%;
  padding-bottom: 40px;
  background-color: var(--main-color);
}
.footer {
  padding: var(--section-padding);
  background-color: var(--second-color);
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  column-gap: 120px;

  &__description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 200px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      list-style: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
}