.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
  
  &__itemList {
    display: flex;
    flex-direction: column;
    gap: 40px;

    ul {
      list-style: none;
    }
  }

  &__checkout {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px seashell solid;
    background-color: rgba(255, 255, 255, 0.1);

    &_item {
      display: flex;
      justify-content: space-between;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  &__item {
    position: relative;
    padding: 30px;
    display: flex;
    gap: 30px;

    
    &_image {
      //flex-shrink: 0;
      width: 60%;
      height: 90%;
      border: 3px seashell solid;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    
    &_info {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        img {
          height: 50px;
          width: 50px;
        }
      }
    }
  }
}